@media (max-width: 768px) {
  .app {
    width: 85%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 98%;
  }
  .app h2 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
  .app h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  #input {
    width: 100%;
  }

  .note {
    width: 85%;
  }

  .note > div {
    width: 100%;
    height: 122px;
  }

  .btn-submit {
    align-self: flex-start;
    font-size: 13px;
    width: 80px;
    height: 40px;
  }

  .btn-save {
    align-self: flex-start;
  }

  .btn-details {
    font-size: 10px;
    width: 70px;
    height: 30px;
  }

  .xedit {
    font-size: 10px;
    width: 70px;
    height: 30px;
    left: 85px;
    bottom: 3px;
  }

  .xclose {
    font-size: 20px;
  }

  .note h3 {
    font-size: 14px;
  }
  .note h4 {
    font-size: 14px;
  }
  .note p {
    font-size: 12px;
  }

  .modal {
    width: 55vw;
    height: 40vh;
  }
}

@media (max-width: 425px) {
  .app {
    width: 85%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 98%;
  }
  .app h2 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
  .app h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  #input {
    width: 100%;
  }

  .note {
    width: 85%;
  }

  .note > div {
    width: 100%;
    height: 122px;
  }

  .btn-submit {
    align-self: flex-start;
    font-size: 13px;
    width: 80px;
    height: 40px;
  }

  .btn-save {
    align-self: flex-start;
  }

  .btn-details {
    font-size: 10px;
    width: 70px;
    height: 30px;
  }

  .xedit {
    font-size: 10px;
    width: 70px;
    height: 30px;
    left: 85px;
    bottom: 3px;
  }

  .xclose {
    font-size: 20px;
  }

  .note h3 {
    font-size: 14px;
  }
  .note h4 {
    font-size: 14px;
  }
  .note p {
    font-size: 12px;
  }

  .modal {
    width: 80vw;
    height: 30vh;
  }

  #xmodal {
    font-size: 20px;
    top: -20px;
    right: -10px;
  }
}

@media (max-width: 375px) {
  .app {
    width: 85%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 98%;
  }
  .app h2 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
  .app h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  #input {
    width: 100%;
  }

  .note {
    width: 85%;
  }

  .note > div {
    width: 100%;
    height: 122px;
  }

  .btn-submit {
    align-self: flex-start;
    font-size: 13px;
    width: 80px;
    height: 40px;
  }

  .btn-save {
    align-self: flex-start;
  }

  .btn-details {
    font-size: 10px;
    width: 70px;
    height: 30px;
  }

  .xedit {
    font-size: 10px;
    width: 70px;
    height: 30px;
    left: 85px;
    bottom: 3px;
  }

  .xclose {
    font-size: 20px;
  }

  .note h3 {
    font-size: 14px;
  }
  .note h4 {
    font-size: 14px;
  }
  .note p {
    font-size: 12px;
  }

  .modal {
    width: 80vw;
    height: 30vh;
  }

  #xmodal {
    font-size: 20px;
    top: -20px;
    right: -10px;
  }
}

@media (max-width: 320px) {
  .app {
    width: 85%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 98%;
  }

  .app h2 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }

  .app h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  #input {
    width: 100%;
  }

  .note {
    width: 85%;
  }

  .note > div {
    width: 100%;
    height: 122px;
  }

  .btn-submit {
    align-self: flex-start;
    font-size: 13px;
    width: 80px;
    height: 40px;
  }

  .btn-save {
    align-self: flex-start;
  }

  .btn-details {
    font-size: 10px;
    width: 70px;
    height: 30px;
  }

  .xedit {
    font-size: 10px;
    width: 70px;
    height: 30px;
    left: 85px;
    bottom: 3px;
  }

  .xclose {
    font-size: 20px;
  }

  .note h3 {
    font-size: 14px;
  }
  .note h4 {
    font-size: 14px;
  }
  .note p {
    font-size: 12px;
  }

  .modal {
    width: 80vw;
    height: 30vh;
  }

  #xmodal {
    font-size: 20px;
    top: -20px;
    right: -10px;
  }

  h2.inner-title {
    font-size: 20px;
  }

  h3.inner-data {
    font-size: 18px;
  }
}
