* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1f2937;
  color: #efeeef;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  margin-top: 30px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 800px;
  background-color: #111827;
  border-radius: 6px 6px 0 0;
}

.app h2 {
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.app h3 {
  font-size: 30px;
  font-weight: 400;
  color: #1dd2af;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 780px;
}

.btn-submit {
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  background-color: #1c7c38;
  align-self: center;
  cursor: pointer;
  transition: 0.3s;
}
.btn-submit:hover {
  background-color: #1c7c39bf;
}

.btn-details {
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  background-color: #007aff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-details:hover {
  background-color: #007bffbe;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 800px;
  background-color: #111827;
  padding: 10px;
}

.note > div {
  border: 1px solid gray;
  padding: 10px;
  position: relative;
  width: 780px;
}
.note h3,
.note h4,
.note p,
.btn {
  padding-bottom: 10px;
}

#title {
  width: 120.33px;
  height: 25px;
}

.xclose {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.xclose:hover {
  color: rgba(255, 255, 255, 0.688);
}

.xedit {
  position: absolute;
  left: 115px;
  bottom: 10px;
  font-size: 13px;
  color: #fff;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  background-color: #007aff;
  cursor: pointer;
  transition: 0.3s;
}

.xedit:hover {
  background-color: #007bffbe;
}

.msg {
  color: red;
}
